<div class="recommendation">
    <div class="message">
        {% assign current_lang = page.lang | default: "zh-TW" %}
        {% assign trans = site.data.translations[current_lang] %}
        <strong>{{ trans.recommendation.text | default: "Why don't you read something next?" }}</strong>
        <div>
            <button>
                <svg><use xlink:href="#icon-arrow-right"></use></svg>
                <span>{{ trans.recommendation.back_btn | default: "Go back to top" }}</span>
            </button>
        </div>
    </div>
    
    {% assign entries = site.posts | where: "lang", current_lang | where_exp: "item", "item.is_generated != true" | reverse %}
    {% assign pure_comic = site.posts | where: "lang", current_lang | where: "is_pure_comic", true | first %}
    {% assign recommendation = nil %}
    
    {% if pure_comic and page.is_pure_comic != true %}
        {% assign recommendation = pure_comic %}
    {% else %}
        {% for entry in entries %}
          {% if entry.url == page.url %}
            {% assign offset = forloop.index0 | plus: 1 %}
            {% assign recommendation = entries[offset] %}
            {% if recommendation == nil %}
              {% assign recommendation = entries[0] %}
            {% endif %}
            {% break %}
          {% endif %}
        {% endfor %}
    {% endif %}

    {% if recommendation == nil %}
        {% assign shuffled_array = entries | shuffle %}
        {% assign recommendation = shuffled_array.first %}
    {% endif %}

    <a href="{{ recommendation.url | relative_url }}" class="post-preview">
        <div class="image">
            {% if recommendation.optimized_image %}
                <img src="{{ recommendation.optimized_image | relative_url }}">
            {% elsif recommendation.image %}
                <img src="{{ recommendation.image | relative_url }}">
            {% else %}
                <img src="{{ '/assets/img/off.jpg' | relative_url }}">
            {% endif %}
        </div>
        <h3 class="title">{{ recommendation.title }}</h3>
    </a>
</div>

